:root{
	--dark: #1c1c1c;
	--red:  #b6224f;
	--blue:  #53c9eb;
	--grey:  #3d3d3f;
	--dark-green:  #0f7b5f;
	--green: #00a77c;
	--yellow:  #b6d546;

	--facebook:  #3b5998;
	--twitter: #1da1f2;
	--youtube: #ff0000;
	--linkedin: #0077b5;
}

.site-teal{
	color: #348393;
}

a, .btn-link{
	transition: all 0.3s ease-in-out;
	text-decoration: none !important;
	font-weight: 600;
	color: var(--green);
}

a:hover,  .btn-link:hover{
	text-decoration: none !important;
	color: var(--dark-green);
}
.bg-dark{
	background-color: var(--dark) !important;
}

.bg-site-light{
	background-color: #292929 !important;
}

.border-light {
    border-color: var(--grey) !important;
}

.search-input{
	border-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: var(--grey);	
	border: 1px solid var(--grey);
	height: calc(1em + 0.75rem + 2px);
}

.search-btn{
	border-radius: 0px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: var(--grey);
	color: white;
	border: 1px solid var(--grey);
	margin-right: 1px;
	line-height: 0.6;
}


/*////////////////////////////*/
.footer-title{
	font-weight: 700;
	font-family: "arial";
	font-size: 0.8em;
	letter-spacing: 1.1px;
}

.footer-parag{
	font-weight: 600;
	font-size: 0.7em;
	line-height: 2;
	letter-spacing: 1px;
	color: #4d4d4d;

}



.red-title{
	color: var(--red);
}

.blue-title{
	color: var(--blue);
}

.yellow-title{
	color: var(--yellow);
}
.teal-title{
	color: #348393;
}

.footer-list{

}

.footer-list-item{
	padding: 2px 0;
}

.list-blue .footer-list-item a{
	text-decoration: none;
	color: var(--grey) ;
}

.list-blue .footer-list-item a:hover,
.list-blue .footer-list-item a:active,
.list-blue .footer-list-item a:focus{
	color: var(--blue);
}


.list-yellow .footer-list-item a{
	text-decoration: none;
	color: var(--grey) ;
}

.list-yellow .footer-list-item a:hover,
.list-yellow .footer-list-item a:active,
.list-yellow .footer-list-item a:focus{
	color: var(--yellow);
}
.site-unlist{
	padding: 0;
	margin: 0;
	list-style: none
}

.site-social-ul li{
	display: inline-block;
	margin-right: 10px;
}
.site-social-ul li a{
	display: inline-block;
	color: var(--grey);
	border-radius: 50%;
	padding: 5px;
	line-height: 20px;
	width: 30px;
	text-align: center;
}

.site-social-ul li a:hover{
	color: white;
}
.site-social-ul .facebok-li a:hover{
	background-color: var(--facebook);
}

.site-social-ul .twitter-li a:hover{
	background-color: var(--twitter);
}

.site-social-ul .linkedin-li a:hover{
	background-color: var(--linkedin);

}
.site-social-ul .youtube-li a:hover{
	background-color: var(--youtube);
}

a.gotop{
	display: inline-block;
	background-color: var(--grey);
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	padding: 5px;
	width: 35px;
	color: lightgray;
}
.newsletter p{
	color: white;
	font-size: 1.5rem;
}

.newsletter form{
	display: inline-block;
}

.newsletter form input.newsletter-form-control{
	background-color: var(--grey);
	border: none;
	border-radius: 0;
	border:  solid 1px transparent;
	color: white;
}
.newsletter-btn, .newsletter-btn:hover{
	background-color: transparent;
	border:  solid 1px white;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0;
}

/* Login page */

.content-wrapper{
	background-color: var(--dark) !important;
	padding-top: 75px;
	padding-bottom: 75px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.sign-in-card h4{
	text-align: center;
	font-weight: 400;
	color: var(--dark);
}

.sign-in-card p{
	text-align: center;
	color: #292929;
}

.auth-btn{
	background: var(--green);
	color: white;
	padding-left: 58px;
	padding-right: 58px;
	border-bottom: 3px solid var(--dark-green);
	letter-spacing: 1.1px;
	font-weight: 600;
}


.auth-btn:hover{
	background-color: var(--dark-green); 
	color: white;
}
.auth-form{
	padding:0 50px;
}

.auth-form{ 
	border-radius: 0px;
}

.divider{
	width: 100%;
	display: inline-block;
	height: 1px;
	background: lightgray;
}

.auth-form .form-control{
	border-radius: 0px;
	border: 1px solid lightgray !important;
}

.auth-form .form-check-label{
	color: #292929;
}

/* Dashborad */

ul.list-group li.active{
	background-color: var(--dark);
	border-color: var(--dark);
}

ul.list-group li a{
	color: var(--dark);
}

ul.list-group li.active a{
	color: white;
}

ul.list-group li a:hover{
	
}

.dashborad-wrapper{
	padding-top: 75px;
	padding-bottom: 75px;
	background-size: 250px 250px !important;
}

.btn-primary{
	color: white;
	background: var(--blue);
}

/*****/

.select2-container .select2-selection--single {
	height: 37px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 37px  !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}